<?xml version="1.0"?>
<configuration>
  <appSettings>
		<add key="ConnectionString" 
         value="Data Source=DESKTOP-5ICORQG\SQLEXPRESS;Initial Catalog=dbuniversity;User Id=sa;Password=123;Connect Timeout=60;"/>
	</appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
<system.webServer>
    <!--<modules runAllManagedModulesForAllRequests="true">
      <remove name="BundleModule" />
      <add name="BundleModule" type="System.Web.Optimization.BundleModule" />
    </modules>-->
    <httpProtocol allowKeepAlive="true" />
    <directoryBrowse enabled="true" showFlags="Date,Time,Extension,Size" />
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <mimeMap fileExtension=".syx" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".tab" mimeType="text/plain" />
      <mimeMap fileExtension=".7z" mimeType="application/x-7z-compressed" />
      <remove fileExtension=".txt" />
      <mimeMap fileExtension=".txt" mimeType="application/octet-stream" />
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <remove fileExtension=".m4v" />
      <mimeMap fileExtension=".m4v" mimeType="video/m4v" />
      <remove fileExtension=".ogg" />
      <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
      <remove fileExtension=".ogv" />
      <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
      <remove fileExtension=".webm" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
      <remove fileExtension=".oga" />
      <mimeMap fileExtension=".oga" mimeType="audio/ogg" />
      <remove fileExtension=".spx" />
      <mimeMap fileExtension=".spx" mimeType="audio/ogg" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".svgz" />
      <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <remove fileExtension=".apk" />
      <mimeMap fileExtension=".apk" mimeType="text/plain" />
      <!-- remove first in case they are defined in IIS already, which would cause a runtime error -->
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="50000000" />
        <!-- Allow files of upto 50,000,000 bytes (about 50Mb) to be uploaded -->
      </requestFiltering>
    </security>
   
  </system.webServer>
</configuration>